.nav {
	font-size: 17px;
}

.social {
	font-size: 30px;
	text-align: center;
}

.social a:hover {
	text-decoration: none;
}

.news {
	list-style: none;
	padding-left: 0;
}

.news li {
	margin-bottom: 10px;
}

.news .date {
	float: right;
	font-style: italic;
}

.mu .image {
	float: right;
}

.mu .date {
	font-style: italic;
}

.modal {
	position: absolute;
}

.modal-body {
	padding: 5px;
}

.modal:target {
	display: block;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.modal-dialog {
		margin: -60px auto;
	}
}


#footer {
	text-align: right;
	padding: 5px 10px 20px;
	color: #b1b1b1;
}
