#pony-france {
    background: url('/img/ponyfrance.png') left bottom #0085cc no-repeat !important;
}
#pony-france a, 
#pony-france a:visited {
	color: white !important;
}
#pony-france a:hover {
	color: #b1b1b1 !important;
}
#pony-france #pfSubMenu, 
#pony-france #pfTitle {
    background-color: #0070be !important;
}

